﻿@model Prueba2.Models.DataBase.Evaluaciones

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evaluaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaluadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaluadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exposicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exposicion.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ponente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ponente.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
