﻿@model Prueba2.Models.DataBase.Calificaciones

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Calificaciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReactivoId" class="control-label"></label>
                <select asp-for="ReactivoId" class="form-control" asp-items="ViewBag.ReactivoId"></select>
                <span asp-validation-for="ReactivoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvaluacionId" class="control-label"></label>
                <select asp-for="EvaluacionId" class="form-control" asp-items="ViewBag.EvaluacionId"></select>
                <span asp-validation-for="EvaluacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvaluadorId" class="control-label"></label>
                <select asp-for="EvaluadorId" class="form-control" asp-items="ViewBag.EvaluadorId"></select>
                <span asp-validation-for="EvaluadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
